In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
dataset=pd.read_csv('C:\\Users\\91912\\Downloads\\archive (7)\\Bengaluru_House_Data.csv')
dataset

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [2]:
dataset.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [3]:
dataset.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [4]:
(dataset.isnull().sum()/dataset.shape[0])*100

area_type        0.000000
availability     0.000000
location         0.007508
size             0.120120
society         41.306306
total_sqft       0.000000
bath             0.548048
balcony          4.572072
price            0.000000
dtype: float64

In [5]:
dataset=dataset.drop('society',axis=1)

In [6]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [8]:
dataset.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [9]:
dataset.isnull().sum()

area_type         0
availability      0
location          1
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [11]:
dataset['location'].mode()[0]

'Whitefield'

In [12]:
dataset['location'].fillna(dataset['location'].mode()[0],inplace=True)

In [13]:
dataset.isnull().sum()

area_type         0
availability      0
location          0
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [14]:
dataset['size'].mode()[0]

'2 BHK'

In [15]:
dataset['size'].fillna(dataset['size'].mode()[0],inplace=True)

In [16]:
dataset.isnull().sum()

area_type         0
availability      0
location          0
size              0
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [17]:
import sklearn
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean')
dataset[['bath','balcony']]=si.fit_transform(dataset[['bath','balcony']])

In [18]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.000000,17.00

In [19]:
dataset.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [20]:
# ENCODING #

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13320 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13320 non-null  float64
 6   balcony       13320 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [22]:
'''
ONE HOT ENCODING-String value ko numerical value me convert karna taki..
..Basically ye two types of categorical data hote hain tab use hota hai.
eg-(male,female) (yes,no) (graduate,not graduate).



LABEL ENCODING-when we have multiple category.
'''

'\nONE HOT ENCODING-String value ko numerical value me convert karna taki..\n..Basically ye two types of categorical data hote hain tab use hota hai.\neg-(male,female) (yes,no) (graduate,not graduate).\n'

In [23]:
dataset['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [24]:
from sklearn.preprocessing import LabelEncoder
la=LabelEncoder()
dataset['area_type']=la.fit_transform(dataset['area_type'])

In [25]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,3,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.000000,39.07
1,2,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.000000,120.00
2,0,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.000000,62.00
3,3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.000000,95.00
4,3,Ready To Move,Kothanur,2 BHK,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,0,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.000000,231.00
13316,3,Ready To Move,Richards Town,4 BHK,3600,5.0,1.584376,400.00
13317,0,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.000000,60.00
13318,3,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.000000,488.00
13319,3,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.000000,17.00

In [26]:
dataset['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [27]:
dataset['location'].value_counts()

location
Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [28]:
dataset['location'].value_counts().sum()

13320

In [29]:
la=LabelEncoder()
dataset['location']=la.fit_transform(dataset['location'])

In [30]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,3,19-Dec,419,2 BHK,1056,2.0,1.000000,39.07
1,2,Ready To Move,317,4 Bedroom,2600,5.0,3.000000,120.00
2,0,Ready To Move,1179,3 BHK,1440,2.0,3.000000,62.00
3,3,Ready To Move,757,3 BHK,1521,3.0,1.000000,95.00
4,3,Ready To Move,716,2 BHK,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,0,Ready To Move,1252,5 Bedroom,3453,4.0,0.000000,231.00
13316,3,Ready To Move,1004,4 BHK,3600,5.0,1.584376,400.00
13317,0,Ready To Move,972,2 BHK,1141,2.0,1.000000,60.00
13318,3,18-Jun,907,4 BHK,4689,4.0,1.000000,488.00
13319,3,Ready To Move,396,1 BHK,550,1.0,1.000000,17.00

In [31]:
dataset['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [32]:
dataset['size'].value_counts()

size
2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [33]:
la=LabelEncoder()
dataset['size']=la.fit_transform(dataset['size'])

In [34]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,3,19-Dec,419,13,1056,2.0,1.000000,39.07
1,2,Ready To Move,317,19,2600,5.0,3.000000,120.00
2,0,Ready To Move,1179,16,1440,2.0,3.000000,62.00
3,3,Ready To Move,757,16,1521,3.0,1.000000,95.00
4,3,Ready To Move,716,13,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,0,Ready To Move,1252,22,3453,4.0,0.000000,231.00
13316,3,Ready To Move,1004,18,3600,5.0,1.584376,400.00
13317,0,Ready To Move,972,13,1141,2.0,1.000000,60.00
13318,3,18-Jun,907,18,4689,4.0,1.000000,488.00
13319,3,Ready To Move,396,0,550,1.0,1.000000,17.00

In [35]:
dataset['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [36]:
dataset['availability'].value_counts()

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

In [37]:
li=[]
for i in dataset['availability']:
    if i=='Ready To Move' or i=='Immediate Possession':
        li.append(i)
    else:
        li.append('Delayed')
dataset['availability']=li  


#Agar ready to move, immediate possesion,
#ke alava kuch hai to wo delayed ho jaye

In [38]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,3,Delayed,419,13,1056,2.0,1.000000,39.07
1,2,Ready To Move,317,19,2600,5.0,3.000000,120.00
2,0,Ready To Move,1179,16,1440,2.0,3.000000,62.00
3,3,Ready To Move,757,16,1521,3.0,1.000000,95.00
4,3,Ready To Move,716,13,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,0,Ready To Move,1252,22,3453,4.0,0.000000,231.00
13316,3,Ready To Move,1004,18,3600,5.0,1.584376,400.00
13317,0,Ready To Move,972,13,1141,2.0,1.000000,60.00
13318,3,Delayed,907,18,4689,4.0,1.000000,488.00
13319,3,Ready To Move,396,0,550,1.0,1.000000,17.00

In [39]:
dataset['availability'].unique()

array(['Delayed', 'Ready To Move', 'Immediate Possession'], dtype=object)

In [40]:
la=LabelEncoder()
dataset['availability']=la.fit_transform(dataset['availability'])

In [41]:
dataset

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,3,0,419,13,1056,2.0,1.000000,39.07
1,2,2,317,19,2600,5.0,3.000000,120.00
2,0,2,1179,16,1440,2.0,3.000000,62.00
3,3,2,757,16,1521,3.0,1.000000,95.00
4,3,2,716,13,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...
13315,0,2,1252,22,3453,4.0,0.000000,231.00
13316,3,2,1004,18,3600,5.0,1.584376,400.00
13317,0,2,972,13,1141,2.0,1.000000,60.00
13318,3,0,907,18,4689,4.0,1.000000,488.00
13319,3,2,396,0,550,1.0,1.000000,17.00

In [42]:
'''
xdata=dataset.drop(['price'],axis=1)
ydata=dataset['price']
'''

"\nxdata=dataset.drop(['price'],axis=1)\nydata=dataset['price']\n"

In [43]:
#from sklearn.model_selection import train_test_split

In [44]:
#xtrain,xtest,ytrain,ytest=train_test_split(xdata,ydata,test_size=0.2,random_state=15)

In [45]:
#from sklearn.tree import DecisionTreeClassifier

In [46]:
#model=DecisionTreeClassifier()

In [47]:
#model.fit(xtrain,ytrain)

In [48]:
dataset.info()


#total_sqft object hai isko float me change kro.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  int32
 1   availability  13320 non-null  int32
 2   location      13320 non-null  int32
 3   size          13320 non-null  int32
 4   total_sqft    13320 non-null  object
 5   bath          13320 non-null  float64
 6   balcony       13320 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), int32(4), object(1)
memory usage: 624.5+ KB

In [49]:
#dataset['total_sqft'] = dataset['total_sqft'].astype('float64')

In [50]:
def convert(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+ float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [51]:
dataset['total_sqft']=dataset['total_sqft'].apply(convert)

In [52]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  int32
 1   availability  13320 non-null  int32
 2   location      13320 non-null  int32
 3   size          13320 non-null  int32
 4   total_sqft    13274 non-null  float64
 5   bath          13320 non-null  float64
 6   balcony       13320 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(4), int32(4)
memory usage: 624.5 KB

In [53]:
dataset.isnull().sum()

area_type        0
availability     0
location         0
size             0
total_sqft      46
bath             0
balcony          0
price            0
dtype: int64

In [54]:
import sklearn
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean')
dataset[['total_sqft']]=si.fit_transform(dataset[['total_sqft']])

In [55]:
dataset.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [69]:
xdata=dataset.drop(['price'],axis=1)
ydata=dataset['price']

In [70]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data= scaler.fit_transform(xdata)

In [71]:
xdata= pd.DataFrame(scaled_data, columns=xdata.columns)

xdata

,area_type,availability,location,size,total_sqft,bath,balcony
0,0.620461,-1.970911,-0.694937,-0.402027,-0.407393,-0.517751,-7.319972e-01
1,-0.253816,0.508316,-0.974385,0.944577,0.841577,1.724859,1.773231e+00
2,-2.002369,0.508316,1.387229,0.271275,-0.096768,-0.517751,1.773231e+00
3,0.620461,0.508316,0.231079,0.271275,-0.031246,0.229786,-7.319972e-01
4,0.620461,0.508316,0.118752,-0.402027,-0.290909,-0.517751,-7.319972e-01
...,...,...,...,...,...,...,...
13315,-2.002369,0.508316,1.587227,1.617880,1.531585,0.977323,-1.984611e+00
13316,0.620461,0.508316,0.907783,0.720143,1.650496,1.724859,-2.781362e-16
13317,-2.002369,0.508316,0.820113,-0.402027,-0.338635,-0.517751,-7.319972e-01
13318,0.620461,-1.970911,0.642033,0.720143,2.531408,0.977323,-7.319972e-01
13319,0.620461,0.508316,-0.757950,-3.319669,-0.816706,-1.265288,-7.319972e-01

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
xtrain,xtest,ytrain,ytest=train_test_split(xdata,ydata,test_size=0.2,random_state=15)

In [74]:
from sklearn.tree import DecisionTreeRegressor

In [75]:
model=DecisionTreeRegressor()

In [76]:
model.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [77]:
model.score(xtest,ytest)*100

44.48998524778366